<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Chating</title>
<script type="text/javascript" src="javascripts/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/jquery.cookie.js"></script>
<script type="text/javascript" src="javascripts/json2.js"></script>
<script src="/socket.io/socket.io.js"></script>
<link type="text/css" rel="stylesheet" href="stylesheets/common.css">
<link type="text/css" rel="stylesheet" href="stylesheets/chat.css">
</head>
<body>
  <div id="contain">
    <div id="content">
      <div id="content_show">
        <div id="contents"></div>
      </div>
      <div id="content_saying">
      <div id="toolbar">
          <label for='upload' class='uploadImage'>
            <div class="inputBox" style="font-size: 20px;">🌠</div>
          </label>
          <input type="file" name="file"  id='upload' accept="image/*" style="display: none;"></input>
        </div>
        <div id="input_content" contenteditable="true">
        </div>
        <div id="sayingto">你好 <span id="from"></span> ，你正在对 <span id="to"></span> 说</div>
        <div id="say">
          发送
        </div>
      </div>
    </div>
    <div id="users_online">
      <div id="usersbar">
        <div id="user_label">
          在线用户
        </div>
        <div id="users_list">
          <ul id="list">
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="ring" style="widht:0px; height:0px;"></div>
</body>
<script type="text/javascript" src="javascripts/chat.js"></script>
</html>
